/* ---------- Donate Form ------------- */

:root {
    --small-mobile-font-size: 20px;
    --large-mobile-font-size: 22px;
    --desktop-font-size: 18px;
  }

.mainForm{
    box-shadow: 6px 10px 6px 6px rgba(78, 77, 77, 0.664);
    padding: 5em;
}
  
  .donateHead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 0px 8px yellow;
    text-align: center;
    font-weight: bold;
    color: #132963;
  }


  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 10px 0 10px;
    font-weight: 100;
  }
  
  button {
    cursor: pointer;
    background-color: rgba(230, 233, 12, 0.600);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    display: block;
    font-size: 20px;
    font-size: var(--large-mobile-font-size);
    font-weight: 400;
    margin: 3px 0 0 0;
    padding: 14px;
  }

  button:not(:disabled):hover {
    background-color: rgba(51, 51, 51, 0.892);
    color: rgba(255, 255, 255, 0.700);
  }
  
  button:disabled {
    color: rgba(136, 136, 136, 0.827);
    cursor: default;
  }
  
  div.explanation {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
  
  section#Cexpiry-Ccvv div:not(:last-child) {
    margin: 0 10px 0 0;
  }
  
  h1 {
    border-bottom: 1px solid rgba(204, 204, 204, 0.800);
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
  }
  
  input {
    border: 1px solid rgba(204, 204, 204, 0.837);
    font-size: 22px; 
    padding: 15px;
    width: 90%; 
}
  
input:not(:focus):invalid,
input:not(:focus):invalid {
    color: rgba(255, 0, 0, 0.7);
    outline-color: rgba(255, 0, 0, 0.7);
}
  
label {
    display: block;
    font-size: 18px;
    font-size: var(--large-mobile-font-size);
    font-weight: 400;
    margin: 0 0 8px 0;
}
  
main {
    margin: 0 auto;
    max-width: 500px;
}
  
p {
    font-size: 19px;
    font-weight: 400;
}
  
form section {
    margin: 0 0 15px 0;
    position: relative;
}
  
form section:last-of-type {
      margin: 0 0 25px 0;
}
  
section#Cexpiry-Ccvv {
    display: flex;
    justify-content: space-between;
}
  
section#expiry-cvv select#Cexpiry-month {
    margin: 0 10px 0 0;
    width: 67px;
}
  
section#expiry-cvv select#Cexpiry-year {
    width: 99px;
}
  
select {
    background-color: rgba(255, 255, 255, 0.700);
    border: 1px solid rgba(204, 204, 204, 0.800);
    font-size: var(--mobile-font-size);
    padding: 15px 15px 15px 11px;
    width: 100%; 
}